body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

	#nav
	{
		position: absolute;
		display: block;
		top: 2.5em;
		left: 0;
		width: 100%;
		text-align: center;
	}

		#nav > ul > li > ul
		{
			display: none;
		}

		#nav > ul
		{
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
			padding: 0 1.5em 0 1.5em;
		}

		#nav > ul > li
		{
			display: inline-block;
			text-align: center;
			padding: 0 1.5em 0 1.5em;
		}
		
			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				color: #eee;
				color: rgba(255,255,255,0.75);
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.7em;
				letter-spacing: 0.25em;
				height: 5em;
				line-height: 5em;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				outline: 0;
			}
			
			#nav > ul > li:hover > a,
			#nav > ul > li.active > a,
			#nav > ul > li.active > span
			{
				color: #fff;
			}

	.dropotron
	{
		background: #222835 url('images/overlay.png');
		background-color: rgba(44,50,63,0.925);
		padding: 1.25em 1em 1.25em 1em;
		border-radius: 0.35em;
		box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
		min-width: 12em;
		text-align: left;
		margin-top: -1.25em;
		margin-left: -1px;
	}
	
		.dropotron.level-0
		{
			margin-top: -1px;
			margin-left: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	
		.dropotron a,
		.dropotron span
		{
			display: block;
			color: #eee;
			color: rgba(255,255,255,0.75);
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.7em;
			letter-spacing: 0.25em;
			border-top: solid 1px rgba(255,255,255,0.15);
			line-height: 3em;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
		.dropotron li:first-child a,
		.dropotron li:first-child span
		{
			border-top: 0;
		}
		
		.dropotron li:hover > a,
		.dropotron li:hover > span
		{
			color: #fff;
		}





a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	background-color: #000000;
	color: #ffffff;
}

#overlay > div {
	text-align: center;
}

#overlay > div > button {
	height: 20px;
	background: transparent;
	color: #ffffff;
	outline: 1px solid #ffffff;
	border: 0px;
	cursor: pointer;
}

#overlay > div > p {
	color: #777777;
	font-size: 12px;
}


